img {
    width: 300px; /* Largura de 300 pixels */
    height: 200px; /* Altura de 200 pixels */
}

body{
    background-color: LightCoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Adicione este CSS ao seu arquivo de estilos ou no bloco de estilos do seu template */
.styled-form {
    max-width: 400px;
    /*margin: auto;*/
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
}

.btn:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

