{% extends "acervo_pessoal/base.html" %}
    {% block content %}
        <!-- pesquisar_livro.html -->
        <form method="GET" action="{% url 'acervo_pessoal:pesquisar_livro' %}">
            <label for="titulo">Pesquisar Livro:</label>
            <input type="text" name="titulo" id="titulo" />
            <button type="submit">Pesquisar</button>
        </form>

        {% if livros_encontrados %}
            <h2>Resultados da Pesquisa para "{{ termo_pesquisa }}"</h2>
            <ul>
                {% for livro in livros_encontrados %}
                    {% if livro.fotoCapa %}
                    <li> Capa : <img src="{{ livro.fotoCapa.url }}" alt="Foto Capa"></li>
                    {% endif %}
                    <li> Titulo : {{ livro.titulo }} </li>
                    <li> Autor : {{ livro.autor }} </li>
                    <li> Data : {{ livro.data_publicacao.day }}/{{livro.data_publicacao.month }}/{{ livro.data_publicacao.day }}</li>
                    <li> Quantidade Total : {{ livro.qtd_total }} </li>
                    <li> Quantidade Disponível: {{ ld }} </li>
                    <li> Quantidade Emprestada: {{ livro.total_livros_emprestados }} </li>
                    <a href="/acervo_pessoal/registrar_emprestimo/{{ livro.id }}">Registrar empréstimo</a>
                    <a href="{% url 'acervo_pessoal:lista_livros_disponiveis' %}">Listar livros disponiveis</a>
                {% endfor %}
            </ul>
        {% else %}
            {% if termo_pesquisa %}
                <p>Nenhum livro encontrado para "{{ termo_pesquisa }}".</p>
            {% endif %}
        {% endif %}
    {% endblock %}