<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    {% load static %}-->
<!--    <title>Lista de Livros</title>-->
<!--    <link rel="stylesheet" href="{% static 'acervo_pessoal/style.css' %}">-->
<!--</head>-->
<!--    <body>-->
<!--        {% if livros_encontrados %}-->
<!--            <h2>Resultados da Pesquisa para "{{ termo_pesquisa }}"</h2>-->
<!--            <ul>-->
<!--                {% for livro in livros_encontrados %}-->
<!--                    <li>{{ livro.titulo }} - {{ livro.autor }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        {% else %}-->
<!--            <p>Nenhum livro encontrado para "{{ termo_pesquisa }}". Tente outra pesquisa.</p>-->
<!--        {% endif %}-->
<!--    </body>-->
<!--</html>-->